.modal-backdrop,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.modal-wrapper {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1f1f1;
  padding: 16px 16px;
  border-radius: 8px;
  width: 500px;
  height: 600px;
  z-index: 10;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
