.modal-backdrop,
.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  overflow: hidden;
}

.modal-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 16px 16px;
  border-radius: 8px;
  width: 475px;
  height: 650px;
  z-index: 10;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
