nav {
  display: flex;
  width: 100%;
  gap: 1rem;
  border-bottom: 1px solid(--border-color);
}

nav .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

.nav-link-section,
.nav-social-section {
  flex-grow: 1;
}
